In [2]:
import pyodbc

In [3]:
server = 'dist-6-505.uopnet.plymouth.ac.uk'
database = 'COMP2001_MHooper'
username = 'MHooper'
password = 'PlymLogin72'
driver = '{ODBC Driver 17 for SQL Server}'

conn_str = (
    f'DRIVER={driver};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
    'Encrypt=Yes;'
    'TrustServerCertificate=Yes;'
    'Connection Timeout=30;'
    'Trusted_Connection=No'
)
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [24]:
create_schema = f"CREATE SCHEMA CW2"
cursor.execute(create_schema)
cursor.commit()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'CW2' in the database. (2714) (SQLExecDirectW); [42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]CREATE SCHEMA failed due to previous errors. (2759)")

In [23]:
columns = [
    'user_id INT IDENTITY(1,1) PRIMARY KEY',
    'username VARCHAR(63)',
    'email VARCHAR(63)',
    'password VARCHAR(63)',
    'role VARCHAR(5)'
]

create_table_cmd = f"CREATE TABLE CW2.users ({','.join(columns)})"
cursor.execute(create_table_cmd)
cursor.commit ()

In [24]:
users = [
    "'Grace Hopper', 'grace@plymouth.ac.uk', 'ISAD123!', 'user'",
    "'Tim Berners-Lee', 'tim@plymouth.ac.uk', 'COMP2001!', 'user'",
    "'Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'user'",
]

for user_data in users:
    insert_cmd = f"INSERT INTO CW2.users VALUES ({user_data})"
    cursor.execute(insert_cmd)

cursor.commit()

In [22]:
drop_table_cmd = f"DROP TABLE CW2.users"
cursor.execute(drop_table_cmd)
cursor.commit()

In [25]:
cursor.execute("SELECT * FROM CW2.users")

users = cursor.fetchall()
for user in users:
    print (user)

(1, 'Grace Hopper', 'grace@plymouth.ac.uk', 'ISAD123!', 'user')
(2, 'Tim Berners-Lee', 'tim@plymouth.ac.uk', 'COMP2001!', 'user')
(3, 'Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'user')

In [ ]:
columns = [
    'location_id INT IDENTITY(1,1) PRIMARY KEY',
    'longitude FLOAT',
    'latitude FLOAT',
    'description VARCHAR(500)',

    'CHECK (longitude BETWEEN -180 AND 180)',
    'CHECK (latitude BETWEEN -90 AND 90)',
    'CHECK (LEN(description) > 10)'
]

create_table_cmd = f"CREATE TABLE CW2.location_point ({','.join(columns)})"
cursor.execute(create_table_cmd)
cursor.commit()

In [23]:
locations = [
    "'0.0', '0.0', 'This is Null Island'",
    "'-0.12', '51.51', 'This is London'",
    "'151.2153', '-33.8568', 'This is the Sydney Opera House'"
]

for location_data in locations:
    insert_cmd = f"INSERT INTO CW2.location_point VALUES ({location_data})"
    cursor.execute(insert_cmd)

cursor.commit()

In [8]:
drop_table_cmd = f"DROP TABLE CW2.location_point"
cursor.execute(drop_table_cmd)
cursor.commit()

In [ ]:
cursor.execute("SELECT * FROM CW2.location_point")

locations = cursor.fetchall()
for location in locations:
    print (location)

In [25]:
columns = [
    'trail_feature_id INT IDENTITY(1,1) PRIMARY KEY',
    'trail_feature VARCHAR(31) UNIQUE'
]

create_table_cmd = f"CREATE TABLE CW2.features ({','.join(columns)})"
cursor.execute(create_table_cmd)
cursor.commit()

In [26]:
features = [
    "'Bird watching'",
    "'Hiking'",
    "'Running'"
]

for feature_data in features:
    insert_cmd = f"INSERT INTO CW2.features VALUES ({feature_data})"
    cursor.execute(insert_cmd)
    
cursor.commit()

In [27]:
cursor.execute("SELECT * FROM CW2.features")

features = cursor.fetchall()
for feature in features:
    print (feature)

(1, 'Bird watching')
(2, 'Hiking')
(3, 'Running')