In [2]:
import pyodbc

In [3]:
server = 'dist-6-505.uopnet.plymouth.ac.uk'
database = 'COMP2001_MHooper'
username = 'MHooper'
password = 'PlymLogin72'
driver = '{ODBC Driver 17 for SQL Server}'

conn_str = (
    f'DRIVER={driver};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
    'Encrypt=Yes;'
    'TrustServerCertificate=Yes;'
    'Connection Timeout=30;'
    'Trusted_Connection=No'
)
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [9]:
create_schema = f"CREATE SCHEMA CW2"
cursor.execute(create_schema)
cursor.commit()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'CW2' in the database. (2714) (SQLExecDirectW); [42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]CREATE SCHEMA failed due to previous errors. (2759)")

In [10]:
columns = [
    'user_id INT IDENTITY(1,1) PRIMARY KEY',
    'username VARCHAR(63) UNIQUE',
    'email VARCHAR(63) UNIQUE',
    'password VARCHAR(63)',
    'role VARCHAR(5)',

    "CHECK (lower(role) = 'user' OR lower(role) = 'admin')",
    "CHECK (email LIKE '%_@_%.__%')"
]

create_table_cmd = f"CREATE TABLE CW2.users ({','.join(columns)})"
cursor.execute(create_table_cmd)
cursor.commit ()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'users' in the database. (2714) (SQLExecDirectW)")

In [6]:
users = [
    "'Grace Hopper', 'grace@plymouth.ac.uk', 'ISAD123!', 'user'",
    "'Tim Berners-Lee', 'tim@plymouth.ac.uk', 'COMP2001!', 'user'",
    "'Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'admin'",
]

for user_data in users:
    insert_cmd = f"INSERT INTO CW2.users VALUES ({user_data})"
    cursor.execute(insert_cmd)

cursor.commit()

In [4]:
drop_table_cmd = f"DROP TABLE CW2.users"
cursor.execute(drop_table_cmd)
cursor.commit()

In [11]:
cursor.execute("SELECT * FROM CW2.users")

users = cursor.fetchall()
for user in users:
    print (user)

(1, 'Grace Hopper', 'grace@plymouth.ac.uk', 'ISAD123!', 'user')
(2, 'Tim Berners-Lee', 'tim@plymouth.ac.uk', 'COMP2001!', 'user')
(3, 'Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'admin')

In [ ]:
columns = [
    'location_id INT IDENTITY(1,1) PRIMARY KEY',
    'longitude FLOAT',
    'latitude FLOAT',
    'description VARCHAR(500)',

    'CHECK (longitude BETWEEN -180 AND 180)',
    'CHECK (latitude BETWEEN -90 AND 90)',
    'CHECK (LEN(description) > 10)'
]

create_table_cmd = f"CREATE TABLE CW2.location_point ({','.join(columns)})"
cursor.execute(create_table_cmd)
cursor.commit()

In [23]:
locations = [
    "'0.0', '0.0', 'This is Null Island'",
    "'-0.12', '51.51', 'This is London'",
    "'151.2153', '-33.8568', 'This is the Sydney Opera House'"
]

for location_data in locations:
    insert_cmd = f"INSERT INTO CW2.location_point VALUES ({location_data})"
    cursor.execute(insert_cmd)

cursor.commit()

In [8]:
drop_table_cmd = f"DROP TABLE CW2.location_point"
cursor.execute(drop_table_cmd)
cursor.commit()

In [12]:
cursor.execute("SELECT * FROM CW2.location_point")

locations = cursor.fetchall()
for location in locations:
    print (location)

(1, 0.0, 0.0, 'This is Null Island')
(2, -0.12, 51.51, 'This is London')
(3, 151.2153, -33.8568, 'This is the Sydney Opera House')

In [25]:
columns = [
    'trail_feature_id INT IDENTITY(1,1) PRIMARY KEY',
    'trail_feature VARCHAR(31) UNIQUE'
]

create_table_cmd = f"CREATE TABLE CW2.features ({','.join(columns)})"
cursor.execute(create_table_cmd)
cursor.commit()

In [26]:
features = [
    "'Bird watching'",
    "'Hiking'",
    "'Running'"
]

for feature_data in features:
    insert_cmd = f"INSERT INTO CW2.features VALUES ({feature_data})"
    cursor.execute(insert_cmd)
    
cursor.commit()

In [13]:
cursor.execute("SELECT * FROM CW2.features")

features = cursor.fetchall()
for feature in features:
    print (feature)

(1, 'Bird watching')
(2, 'Hiking')
(3, 'Running')

In [15]:
columns = [
    'trail_id INT IDENTITY(1,1) PRIMARY KEY',
    'trail_name VARCHAR(127)',
    'trail_summary VARCHAR(500)',
    'trail_description VARCHAR(500)',
    'difficulty VARCHAR(8)',
    'location VARCHAR(63)',
    'length FLOAT',
    'elevation_gain INT',
    'route_type VARCHAR(15)',

    'owner_id INT',
    'location_point_1 INT',
    'location_point_2 INT',
    'location_point_3 INT',
    'location_point_4 INT',
    'location_point_5 INT',

    "CHECK (difficulty = ('easy') OR difficulty = ('moderate') OR difficulty = ('hard'))",
    'CHECK (length >= 0 AND length = ROUND(length, 2))',
    'CHECK (elevation_gain >=0)',
    "CHECK (route_type = ('loop') OR route_type = ('point to point') OR route_type = ('out and back'))",

    'CONSTRAINT fk_owner_id FOREIGN KEY (owner_id) REFERENCES CW2.users(user_id)',
    'CONSTRAINT fk_location_1 FOREIGN KEY (location_point_1) REFERENCES CW2.location_point(location_id)',
    'CONSTRAINT fk_location_2 FOREIGN KEY (location_point_2) REFERENCES CW2.location_point(location_id)',
    'CONSTRAINT fk_location_3 FOREIGN KEY (location_point_3) REFERENCES CW2.location_point(location_id)',
    'CONSTRAINT fk_location_4 FOREIGN KEY (location_point_4) REFERENCES CW2.location_point(location_id)',
    'CONSTRAINT fk_location_5 FOREIGN KEY (location_point_5) REFERENCES CW2.location_point(location_id)'
]

create_table_cmd = f"CREATE TABLE CW2.trails ({','.join(columns)})"
cursor.execute(create_table_cmd)
cursor.commit

In [16]:
trails = [
    "'Plymbridge Circular', 'discover this loop...', 'this is a gentle...', 'easy', 'Plymouth, Devon, England', '5.0', '147', 'loop', '3', '1', '2', '1', '2', '3'",
    "'Crazywell Pool', 'enjoy this 6.3km...', 'this trail starts near...', 'moderate', 'Dartmoor, Devon, England', '6.3', '177', 'loop', '3', '3', '2', '3', '2', '1'",
    "'Crater Cove Lookout', 'try this 3.1km...', 'this is a short but...', 'moderate', 'Sydney Harbour, New South Wales, Australia', '3.1', '93', 'out and back', '3', '1', '2', '3', '2', '1'"
]

for trail_data in trails:
    insert_cmd = f"INSERT INTO CW2.trails VALUES ({trail_data})"
    cursor.execute(insert_cmd)

cursor.commit

In [22]:
cursor.execute("SELECT * FROM CW2.trails")

trails = cursor.fetchall()
for trail in trails:
    print (trail)

(1, 'Plymbridge Circular', 'discover this loop...', 'this is a gentle...', 'easy', 'Plymouth, Devon, England', 5.0, 147, 'loop', 3, 1, 2, 1, 2, 3)
(2, 'Crazywell Pool', 'enjoy this 6.3km...', 'this trail starts near...', 'moderate', 'Dartmoor, Devon, England', 6.3, 177, 'loop', 3, 3, 2, 3, 2, 1)
(3, 'Crater Cove Lookout', 'try this 3.1km...', 'this is a short but...', 'moderate', 'Sydney Harbour, New South Wales, Australia', 3.1, 93, 'out and back', 3, 1, 2, 3, 2, 1)

In [ ]:
drop_table_cmd = f"DROP TABLE CW2.trails"
cursor.execute(drop_table_cmd)
cursor.commit

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot drop the table 'CW2.trails', because it does not exist or you do not have permission. (3701) (SQLExecDirectW)")

In [19]:
columns = [
    'trail_id INT',
    'trail_feature_id INT',

    'CONSTRAINT pk_trail_features PRIMARY KEY (trail_id, trail_feature_id)',
    'CONSTRAINT fk_trail_id FOREIGN KEY (trail_id) REFERENCES CW2.trails(trail_id)',
    'CONSTRAINT fk_trail_feature_id FOREIGN KEY (trail_feature_id) REFERENCES CW2.features(trail_feature_id)'
]

create_table_cmd = f"CREATE TABLE CW2.trail_features ({','.join(columns)})"
cursor.execute(create_table_cmd)
cursor.commit

In [20]:
trail_features = [
    "'1', '1'",
    "'2', '2'",
    "'3', '3'"
]
for the_data in trail_features:
    insert_cmd = f"INSERT INTO CW2.trail_features VALUES ({the_data})"
    cursor.execute(insert_cmd)

cursor.commit

In [20]:
drop_table_cmd = f"DROP TABLE CW2.trail_features"
cursor.execute(drop_table_cmd)
cursor.commit

In [21]:
cursor.execute("SELECT * FROM CW2.trail_features")

trail_feats = cursor.fetchall()
for trail_feat in trail_feats:
    print (trail_feat)

(1, 1)
(2, 2)
(3, 3)