In [2]:
import pyodbc

server = 'dist-6-505.uopnet.plymouth.ac.uk'
database = 'COMP2001_mhooper4'
username = 'mhooper4'
password = 'PlymLogin16'
driver = '{ODBC Driver 17 for SQL Server}'

conn_str = (
    f'DRIVER={driver};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
    'Encrypt=Yes;'
    'TrustServerCertificate=Yes;'
    'Connection Timeout=30;'
    'Trusted_Connection=No'
)
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [ ]:
cursor.execute('''CREATE SCHEMA CW2''')
conn.commit()

In [15]:
cursor.execute('''
CREATE TABLE CW2.users (
    user_id INT IDENTITY(1,1) PRIMARY KEY,
    username VARCHAR(63) UNIQUE,
    email VARCHAR(63) UNIQUE,
    password VARCHAR(63),
    role VARCHAR(5),

    CHECK (lower(role) = 'user' OR lower(role) = 'admin'),
    CHECK (email LIKE '%_@_%.__%')
)
''')
conn.commit()

In [20]:
cursor.execute('''
INSERT INTO CW2.users VALUES
    ('Grace Hopper', 'grace@plymouth.ac.uk', 'ISAD123!', 'user'),
    ('Tim Berners-Lee', 'tim@plymouth.ac.uk', 'COMP2001!', 'user'),
    ('Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'admin')
    
''')
conn.commit()

In [13]:
drop_table_cmd = f"DROP TABLE CW2.users"
cursor.execute(drop_table_cmd)
cursor.commit()

In [24]:
cursor.execute("SELECT * FROM CW2.users")

users = cursor.fetchall()
for user in users:
    print (user)

(1, 'Grace Hopper', 'grace@plymouth.ac.uk', 'ISAD123!', 'user')
(2, 'Tim Berners-Lee', 'tim@plymouth.ac.uk', 'COMP2001!', 'user')
(3, 'Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'admin')

In [31]:
cursor.execute('''
CREATE TABLE CW2.location_point (
    location_id INT IDENTITY(1,1) PRIMARY KEY,
    longitude FLOAT,
    latitude FLOAT,
    description VARCHAR(500),

    CHECK (longitude BETWEEN -180 AND 180),
    CHECK (latitude BETWEEN -90 AND 90),
    CHECK (LEN(description) > 10)
)
''')
conn.commit()

In [32]:
cursor.execute('''
INSERT INTO CW2.location_point VALUES
    ('0.0', '0.0', 'This is Null Island'),
    ('-0.12', '51.51', 'This is London'),
    ('151.2153', '-33.8568', 'This is the Sydney Opera House')
''')
conn.commit()

In [30]:
drop_table_cmd = f"DROP TABLE CW2.location_point"
cursor.execute(drop_table_cmd)
cursor.commit()

In [33]:
cursor.execute("SELECT * FROM CW2.location_point")

locations = cursor.fetchall()
for location in locations:
    print (location)

(1, 0.0, 0.0, 'This is Null Island')
(2, -0.12, 51.51, 'This is London')
(3, 151.2153, -33.8568, 'This is the Sydney Opera House')

In [35]:
cursor.execute('''
CREATE TABLE CW2.features (
    trail_feature_id INT IDENTITY(1,1) PRIMARY KEY,
    trail_feature VARCHAR(31) UNIQUE
)
''')
conn.commit()

In [36]:
cursor.execute('''
INSERT INTO CW2.features VALUES
    ('Bird watching'),
    ('Hiking'),
    ('Running')
''')
conn.commit()

In [37]:
cursor.execute("SELECT * FROM CW2.features")

features = cursor.fetchall()
for feature in features:
    print (feature)

(1, 'Bird watching')
(2, 'Hiking')
(3, 'Running')

In [34]:
drop_table_cmd = f"DROP TABLE CW2.features"
cursor.execute(drop_table_cmd)
cursor.commit()

In [38]:
cursor.execute('''
CREATE TABLE CW2.trails(
    trail_id INT IDENTITY(1,1) PRIMARY KEY,
    trail_name VARCHAR(127),
    trail_summary VARCHAR(500),
    trail_description VARCHAR(500),
    difficulty VARCHAR(8),
    location VARCHAR(63),
    length FLOAT,
    elevation_gain INT,
    route_type VARCHAR(15),

    owner_id INT,
    location_point_1 INT,
    location_point_2 INT,
    location_point_3 INT,
    location_point_4 INT,
    location_point_5 INT,

    CHECK (difficulty = ('easy') OR difficulty = ('moderate') OR difficulty = ('hard')),
    CHECK (length >= 0 AND length = ROUND(length, 2)),
    CHECK (elevation_gain >=0),
    CHECK (route_type = ('loop') OR route_type = ('point to point') OR route_type = ('out and back')),

    CONSTRAINT fk_owner_id FOREIGN KEY (owner_id) REFERENCES CW2.users(user_id),
    CONSTRAINT fk_location_1 FOREIGN KEY (location_point_1) REFERENCES CW2.location_point(location_id),
    CONSTRAINT fk_location_2 FOREIGN KEY (location_point_2) REFERENCES CW2.location_point(location_id),
    CONSTRAINT fk_location_3 FOREIGN KEY (location_point_3) REFERENCES CW2.location_point(location_id),
    CONSTRAINT fk_location_4 FOREIGN KEY (location_point_4) REFERENCES CW2.location_point(location_id),
    CONSTRAINT fk_location_5 FOREIGN KEY (location_point_5) REFERENCES CW2.location_point(location_id))
''')

conn.commit()

In [39]:
cursor.execute('''
INSERT INTO CW2.trails VALUES
    ('Plymbridge Circular', 'discover this loop...', 'this is a gentle...', 'easy', 'Plymouth, Devon, England', '5.0', '147', 'loop', '3', '1', '2', '1', '2', '3'),
    ('Crazywell Pool', 'enjoy this 6.3km...', 'this trail starts near...', 'moderate', 'Dartmoor, Devon, England', '6.3', '177', 'loop', '3', '3', '2', '3', '2', '1'),
    ('Crater Cove Lookout', 'try this 3.1km...', 'this is a short but...', 'moderate', 'Sydney Harbour, New South Wales, Australia', '3.1', '93', 'out and back', '3', '1', '2', '3', '2', '1')

''')
conn.commit()

In [40]:
cursor.execute("SELECT * FROM CW2.trails")

trails = cursor.fetchall()
for trail in trails:
    print (trail)

(1, 'Plymbridge Circular', 'discover this loop...', 'this is a gentle...', 'easy', 'Plymouth, Devon, England', 5.0, 147, 'loop', 3, 1, 2, 1, 2, 3)
(2, 'Crazywell Pool', 'enjoy this 6.3km...', 'this trail starts near...', 'moderate', 'Dartmoor, Devon, England', 6.3, 177, 'loop', 3, 3, 2, 3, 2, 1)
(3, 'Crater Cove Lookout', 'try this 3.1km...', 'this is a short but...', 'moderate', 'Sydney Harbour, New South Wales, Australia', 3.1, 93, 'out and back', 3, 1, 2, 3, 2, 1)

In [ ]:
drop_table_cmd = f"DROP TABLE CW2.trails"
cursor.execute(drop_table_cmd)
cursor.commit

In [45]:
cursor.execute('''
CREATE TABLE CW2.trail_features (
    trail_id INT,
    trail_feature_id INT,

    CONSTRAINT pk_trail_features PRIMARY KEY (trail_id, trail_feature_id),
    CONSTRAINT fk_trail_id FOREIGN KEY (trail_id) REFERENCES CW2.trails(trail_id),
    CONSTRAINT fk_trail_feature_id FOREIGN KEY (trail_feature_id) REFERENCES CW2.features(trail_feature_id)
)
''')
conn.commit()

In [46]:
cursor.execute('''
INSERT INTO CW2.trail_features VALUES
    ('1', '1'),
    ('2', '2'),
    ('3', '3')
''')
conn.commit()

In [44]:
drop_table_cmd = f"DROP TABLE CW2.trail_features"
cursor.execute(drop_table_cmd)
cursor.commit

In [3]:
cursor.execute("SELECT * FROM CW2.trail_features")

trail_feats = cursor.fetchall()
for trail_feat in trail_feats:
    print (trail_feat)

(1, 1)
(2, 2)
(3, 3)

In [3]:
cursor.execute('''
CREATE PROCEDURE CW2.create_trail(@trail_name VARCHAR(127), @trail_summary VARCHAR(500), @trail_description VARCHAR(500),
    @difficulty VARCHAR(8), @location VARCHAR(63), @length FLOAT, @elevation_gain INT, @route_type VARCHAR(15), @owner_id INT,
    @location_point_1 INT, @location_point_2 INT, @location_point_3 INT, @location_point_4 INT, @location_point_5 INT)
AS
BEGIN
    INSERT INTO CW2.trails VALUES (@trail_name, @trail_summary, @trail_description, @difficulty, @location, @length, @elevation_gain,
    @route_type, @owner_id, @location_point_1, @location_point_2, @location_point_3, @location_point_4, @location_point_5)
END
''')
conn.commit()

In [4]:
cursor.execute('''
CREATE PROCEDURE CW2.create_user(@username VARCHAR(63), @email VARCHAR(63), @password VARCHAR(63), @role VARCHAR(5))
AS
BEGIN
    INSERT INTO CW2.users VALUES (@username, @email, @password, @role)
END
''')
conn.commit()

In [ ]:
cursor.execute('''
CREATE PROCEDURE CW2.create_location_point(@longitude FLOAT, @latitude FLOAT, @description VARCHAR(500))
AS
BEGIN
    INSERT INTO CW2.location_point VALUES (@longitude, @latitude, @description)
END
''')
conn.commit()

In [6]:
cursor.execute('''
CREATE PROCEDURE CW2.create_feature(@trail_feature VARCHAR(31))
AS
BEGIN
    INSERT INTO CW2.features VALUES (@trail_feature)
END
''')
conn.commit()

In [7]:
cursor.execute('''
CREATE PROCEDURE CW2.create_trail_feature(@trail_id INT, @trail_feature_id INT)
AS
BEGIN
    INSERT INTO CW2.trail_features VALUES (@trail_id, @trail_feature_id)
END
''')
conn.commit()

In [12]:
cursor.execute('''
CREATE VIEW CW2.trail_info AS
SELECT trails.trail_id, trail_name, trail_summary, trail_description, difficulty, location, length, elevation_gain, route_type, owner_id, location_point_1, location_point_2, location_point_3, location_point_4, location_point_5, trail_feature, features.trail_feature_id, username, email, password, role, longitude, latitude, description
FROM CW2.trails
JOIN CW2.trail_features ON CW2.trails.trail_id = CW2.trail_features.trail_id
JOIN CW2.users ON CW2.trails.owner_id = CW2.users.user_id
JOIN CW2.location_point ON CW2.trails.location_point_1 = CW2.location_point.location_id
JOIN CW2.features ON CW2.trail_features.trail_feature_id = CW2.features.trail_feature_id
''')
conn.commit()

In [16]:
cursor.execute('''
select * from CW2.trail_info
''')
trail_info = cursor.fetchall()
for trail in trail_info:
    print (trail)

(1, 'Plymbridge Circular', 'discover this loop...', 'this is a gentle...', 'easy', 'Plymouth, Devon, England', 5.0, 147, 'loop', 3, 1, 2, 1, 2, 3, 'Bird watching', 1, 'Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'admin', 0.0, 0.0, 'This is Null Island')
(2, 'Crazywell Pool', 'enjoy this 6.3km...', 'this trail starts near...', 'moderate', 'Dartmoor, Devon, England', 6.3, 177, 'loop', 3, 3, 2, 3, 2, 1, 'Hiking', 2, 'Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'admin', 151.2153, -33.8568, 'This is the Sydney Opera House')
(3, 'Crater Cove Lookout', 'try this 3.1km...', 'this is a short but...', 'moderate', 'Sydney Harbour, New South Wales, Australia', 3.1, 93, 'out and back', 3, 1, 2, 3, 2, 1, 'Running', 3, 'Ada Lovelace', 'ada@plymouth.ac.uk', 'insecurePassword', 'admin', 0.0, 0.0, 'This is Null Island')